google-cloud-aiplatform>=1.25.0
sentence-transformers>=2.2.2
pinecone-client>=2.2.1
unstructured[local-inference]>=0.6.8
python-dotenv>=1.0.0
openpyxl>=3.1.2
pdfminer.six>=20221105
aiohttp
jsonschema
tenacity
vertexai
PyPDF2
aiohttp
pytest-asyncio